<form class="form" [formGroup]="form" (ngSubmit)="printForm()">
    <div class="row">
        <div class="col">
            <app-input [FormGroup]="form" FormControlName="countryName"  placeholder="Country Name"></app-input>
            <app-input [FormGroup]="form" FormControlName="capital"  placeholder="Capital"></app-input>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-dropdown [FormGroup]="form" FormControlName="states" [FormArray]="parts"></app-dropdown>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-numberbox [FormGroup]="form" FormControlName="totalArea" placeholder="Total Area"></app-numberbox>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-checkbox [FormGroup]="form" FormControlName="internationalOrganizations"></app-checkbox>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
