<form class="form" [formGroup]="FormGroup" >
    <div class="row">
        <div class="col-6 m-3">
            <input type="text" class="form-control" [placeholder]="placeholder" [formControlName]="FormControlName" [name]="FormControlName" (change)="inputChange()">
        </div>
    </div>
</form>
