<form class="form" [formGroup]="FormGroup">
    <div class="row m-2">
        <div class="col">
           <label>International Organisations</label>
        </div>
    </div>
    <div class="row m-2">
        <div class="col">
            <input type="checkbox"  id="org1" [formControlName]="FormControlName" [name]="FormControlName">
            <label for="org1">BRICS</label>
        </div>
        <div class="col">
            <input type="checkbox"  id="org2" [formControlName]="FormControlName" [name]="FormControlName">
            <label for="org1">WHO</label>
        </div>
    </div>
</form>
