<form class="form" [formGroup]="FormGroup" >
    <div class="row">
        <div class="col">
            <label for="">states</label>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <select class="form-control" [name]="FormControlName" [formControlName]="FormControlName">
                <option value="">---select---</option>
                <option [value]="obj"  *ngFor="let obj of FormArray">{{obj}}</option>
            </select>
        </div>
    </div>
</form>
