<form class="form" [formGroup]="FormGroup">
    <div class="row">
        <div class="col-6 m-3">
            <input class="form-control" type="number" [formControlName]="FormControlName" [placeholder]="placeholder" [name]="FormControlName">
        </div>
    </div>
</form>
